<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">

        <!-- text-muted is one of the bootstrap color utilities -->

        <!-- &copy is the copyright symbol -->
        <span class = "text-muted" = "color:white">&copy Yelpcamp 2020</span>
    </div>
</footer>