<!-- sticky-top keeps the navbar at the stop of the screen as we scroll down -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">fitnessAPP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse position-relative" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Profile</a>
                <a class="nav-link"  href = "/Analytics" >Analytics</a>

                <a class="nav-link" href="/settings">Settings</a>
                <a class="nav-link pull-left" href="/Ranking">Ranking</a>
                <a class="btn btn-outline-dark position-absolute bottom-0 end-0" id="logoutButton" href="/logout" role="button"
                   style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px"  alt="Google sign-in"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    <span id ="googleLogOut">Logout</span>
                </a>
            </div>
        </div>
    </div>
</nav>





