.child{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 35%;
    color: black;


}
.parent{
    position: relative;
    font-size: 100px;
    color:white;
    border: 2px solid red;
    border-radius: 100%;
}

.moodInput{

    width: 60%;!important;

}


.moodTag{
    text-align: left;
    width: 25%;
}



.waterTag{
    display: block;
    text-align: left;
    font-size: 150%;
    font-weight:bold;
    margin-bottom: 10%;
}

div label small{
    color: grey;
    font-size: 50%;
}
#water{
    display: block;
    margin: auto;

}