* {
    font-family: 'Josefin Sans', sans-serif; !important;
}

.center {
    text-align: center;
}

h4 {
    font-family: 'Josefin Sans', sans-serif; !important;
    font-weight: bold;
}

.leftMargin {
    margin-left:20px;
}
