<% layout('boilerplate/template') -%>

    <div id = "profileDiv">
        <h1 > Hey there, <%= user.accountName %> </h1>

        <br>
        <br>
        <div class="center" id="cardsDiv">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card shadow-lg mb-3 border-success" style="width: 90%;">
                            <div class="card-body display-relative">
                                <h3 class="card-title"> <strong>Steps Overview</strong></h3>
                                <hr>
                                <br>
                                <div class = "d-inline ">
                                    <h4 class= "d-inline p-2">Steps today: <small>5902</small></h4>
                                </div>
                                <div class = "d-inline " >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  style="color:green" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                                    </svg>
                                </div>
                                <div class = "d-inline ">
                                    <h4 class= "d-inline p-2"><small id = "percentageUP">+53%</small></h4>
                                </div>

                                <div class = "d-block mt-5 ">
                                    <button type="button" class="btn btn-outline-dark">View more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card shadow-lg mb-3 border-danger" style="width: 90%;">
                            <div class="card-body">
                                <h3 class="card-title"><strong>Sleep Overview</strong></h3>
                                <hr>
                                <h5><strong>Date: 23rd february 2021</strong></h5>
                                <i class="bi bi-asterisk"></i>
                                <button type="button" class="btn btn-outline-dark">View more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card shadow-lg mb-3 border-dark" style="width: 90%;">
                            <div class="card-body">
                                <h3 class="card-title"><strong>Hydration Overview</strong></h3>
                                <hr>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-outline-dark">View more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>