<% layout('boilerplate/template') -%>

<% block('profile').append('<link rel="stylesheet" type="text/css" href="/css/profile/profile.css">') %>
    <div id = "profileDiv">
        <h1 > Hey there, <%= user.accountName %> </h1>
        <br>
        <br>
        <div class="center" id="cardsDiv">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card shadow-lg mb-3 border-success" style="width: 90%;">
                            <div class="card-body display-relative stepBox">
                                <h3 class="card-title"> <strong>Steps Overview</strong></h3>
                                <hr>
                                <div class = "mb-2">
                                    <img src = "/css/profile/images/steps.svg" class = "stepsLogo">
                                </div>
                                <div>
                                    <i class="fas fa-circle stepCounter" >
                                        <span class = "child">
                                            <small>
                                                8935023
                                            </small>
                                        </span>
                                    </i>
                                </div>
                                <div class = "percentage">
                                    <div class = "d-inline " >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-up-right percentageUP" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
                                        </svg>
                                    </div>
                                    <div class = "d-inline ">
                                        <h4 class= "d-inline p-2"><small >+65%</small></h4>
                                    </div>
                                </div>

                                <h4 class = "qualityTag">Step Count</h4>

                                <div class =" d-flex flex-column justify-content-center">
                                    <button type="button" class="btn btn-outline-dark mt-auto mb-auto ">View more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card shadow-lg mb-3 " style="width: 90%;">
                            <div class="card-body sleepBox">
                                <h3 class="card-title"><strong>Sleep Overview</strong></h3>
                                <hr>
                                <div class = "sleepTotal mb-3">
                                    <div class = " d-inline">
                                        <img class = "d-inline clock" src= "/css/profile/images/clock.svg">
                                    </div>
                                    <h4 class = "d-inline sleepTotalTag">12 hours</h4>
                                </div>

                                <div>
                                     <i class="fas fa-circle parent" >
                                        <span class = "child">
                                            <small>
                                                57
                                            </small>
                                        </span>
                                     </i>
                                </div>
                                <div class = "percentage">
                                    <div class = "d-inline " >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-down-left percentageDOWN" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M2 13.5a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1H3.707L13.854 2.854a.5.5 0 0 0-.708-.708L3 12.293V7.5a.5.5 0 0 0-1 0v6z"/>
                                        </svg>
                                    </div>
                                    <div class = "d-inline ">
                                        <h4 class= "d-inline p-2"><small >-23%</small></h4>
                                    </div>
                                </div>

                                <h4 class = "qualityTag">Sleep Quality</h4>

                                <div class = "sleep">
                                    <div class = "d-inline " >
                                        <img class = "d-inline moon" src= "/css/profile/images/moon.svg">
                                    </div>
                                    <div class = "d-inline ">
                                        <h5 class = "d-inline d-flex flex-column justify-content-start">9:45pm </h5>
                                    </div>
                                </div>
                                <div class = "wake">
                                    <div class = "d-inline " >
                                        <img class = "d-inline moon" src= "/css/profile/images/sun.svg">
                                    </div>
                                    <div class = "d-inline ">
                                        <h5 class = "d-inline d-flex flex-column justify-content-start">9:45am </h5>
                                    </div>
                                </div>


                                <div class =" d-flex flex-column justify-content-center">
                                    <button type="button" class="btn btn-outline-dark mt-auto mb-auto ">View more</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card shadow-lg mb-3 border-dark" style="width: 90%;">
                            <div class="card-body">
                                <h3 class="card-title"><strong>Heart Rate Overview</strong></h3>
                                <hr>

                                <div class = "d-flex flex-column justify-content-center">
                                <button type="button" class="btn btn-outline-dark">View more</button>
                            </div>
                        </div>
                    </div>
                </div>


                    <div class = "row mt-5 mb-5 ">
                            <div class ="col-md-5 moodTag">
                                <h4>How are you feeling right now simon?</h4>
                                <select class="form-select moodInput" aria-label="Default select example">
                                    <option selected>Select Mood</option>
                                    <option value="Sad">Sad</option>
                                    <option value="Happy">Happy</option>
                                    <option value="Angry">Angry</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class = "col-md-5 mb-3">
                                <label for="water">
                                    <span class="waterTag">Water glass count <small>(1 cup approx 250ml)</small></span>
                                </label>
                                <input type="number" id="water" name="tentacles">
                            </div>
                    </div>

            </div>
        </div>

    </div>