<% layout('boilerplate/template') -%>

    <div id = "profileDiv">
        <h1 > Hey there, <%=  user.accountName %> </h1>

        <br>
        <br>
        <div class="center" id="cardsDiv">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card shadow-lg mb-3 border-success" style="width: 90%;">
                            <div class="card-body">
                                <h5 class="card-title">Steps Overview</h5>
                                <hr>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-outline-dark">View more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card shadow-lg mb-3 border-danger" style="width: 90%;">
                            <div class="card-body">
                                <h5 class="card-title">Sleep Overview</h5>
                                <hr>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-outline-dark">View more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card shadow-lg mb-3 border-dark" style="width: 90%;">
                            <div class="card-body">
                                <h5 class="card-title">Hydration Overview</h5>
                                <hr>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button" class="btn btn-outline-dark">View more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>